form{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-content: center;
}

/* pourquoi le select ne marche pas? */
input, select, textarea{
    margin-top: 2px;
    margin-bottom: 6px;
}
textarea{
    resize: none;
}

table {
    border-collapse: collapse;
    min-width: 1280px;
    width: 95%;
}

table tr td {
    text-align: center;
}

td, th {
    padding: 5px;
}
table tr,
table tr td {
    border: 2px solid grey;
}